
<div class = "container p-4 detail">

    <div class = "row">
        <div class="col-3">
            <ul class="list-group chat-list">
                <li class="list-group-item" data-id="">
                    <h6> 토론방1 </h6>
                    <h6 class = "text-small">토론방 설명</h6>               
                </li>
                <li class="list-group-item" data-id="">
                    <h6> 토론방2 </h6>
                    <h6 class = "text-small">토론방 설명</h6>               
                </li>
            </ul>
        </div>



    </div>
</div>


<input class="form-control" id="chat-input">
<button class="btn btn-secondary" id="send">전송</button>

<script>
$('#send').click(function(){
  var content = $('#chat-input').val();   //1, 2
  var send = {
    parent: chatid,
    content: chatcontent,
  };
  
  //3
  $.post('/message', 보낼거).then((a) => {  
     console.log(a)
  });

});


//4
var chatid;

$('.list-group-item').click(function (){
   $(this).css('background-color', '#eee');
   chatid = $(this).attr('data-id');
});

</script>