<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, world!</title>


    <link rel ="stylesheet" href="/public/main.css">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <%- include('nav.ejs') %>



      <h4> 게임페이지 </h4>
      
      <h4> 게임: <%= data.게임이름 %></h4>
      <h4> 게임내용: <%= data.게임내용 %></h4>

      



        </script>

        <div class="appending_file_box">
          <strong>원본 첨부파일 <em class="font_red">1</em></strong>						<ul class="appending_file">
            <li><a href="https://image.dcinside.com/download.php?no=24b0d769e1d32ca73deb82fa11d028316c04369a2e349766dc7643c7549d2184f93419d478b5544f99a53ec5775d52a0cfcbc1d7cbc626b75784859c933794b98261d19dfd8e37c8038aed0ba80058dbd7b94c8a17529f883d08c3d0ab38ff73176ee2cfb0c19dbaca3102acb3de86&amp;f_no=Screenshot_20211215-104312_Samsung%2BInternet.jpg">Screenshot_20211215-104312_Samsung+Internet.jpg</a></li>						</ul>
        </div>
      <!-- EJS를 사용해서 GET요청 해서 데이터 받아오기-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    
  </body>
</html>