<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href= "/public/css/thread_view.css">
    <link rel = "stylesheet" type="text/css" href= "/public/css/register.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    
    <div class ="article_area">
        <div class ="register_id_boxform">
            <div class = "register_id_inputbox">
            <div class = "input_text_box"><span class="register_title">메일주소</span>
                <input type = "text" class = "box_context mailbox" value = "<%=email%>" disabled></div>
           
            <div class = "input_text_box"><span class="register_title" >아이디</span>
                <input type = "text" class = "box_context idbox" value = "<%=id%>" disabled></div>
            
            <div class = "input_text_box" ><span class="register_title">비밀번호</span>
                <input type = "password" class = "box_context passbox"><span class ="hiddenpwd"></span>
            <span class = "password_re">확인<input type = "password" class ="box_context box_context_2row passbox_check"></span> </div>
            <div class = "input_text_box"><span class="register_title">닉네임</span>
                <input type = "text" class = "box_context nnamebox"> </div>
                <div class = "float_right"><button class = "register_ok">가입</button></div>
              </div>
            
        </div>
        </div>


        <script>
            // var firstpw = $('.passbox').val();
            // var secondpw 
            
            $('.register_ok').click(function(e){

                if ($('.passbox').val() == $('.passbox_check').val() ){

                    if ($('.nnamebox').val()){

                        $.ajax({
                            method : 'POST',
                            url : '/accountfunc/modifyProcess',
                            data : {pwdata : $('.passbox').val(),
                                    nnamedata : $('.nnamebox').val()}
                        }).done(function(rep){
                            alert ('정보변경에 성공하였습니다, 다시 로그인하여 주세요')
                            location.replace('/')
                        })
                    }

                    else{

                        $.ajax({
                            method : 'POST',
                            url : '/accountfunc/modifyProcess',
                            data : {pwdata : $('.passbox').val()}
                        }).done(function(rep){
                            alert ('정보변경에 성공하였습니다, 다시 로그인하여 주세요')
                            location.replace('/')
                        })

                    }
                }

                else {
                    alert ('비밀번호가 일치하지 않습니다.');
                }
            })

            
        </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    
  </body>
</html>