<style>
  .userstag{
   
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="/">개인블로그</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="write">토론작성</a>
          <a class="nav-link" href="edit">글수정</a>
          <a class="nav-link" href="list">토론방</a>
          <a class="nav-link" href="login">로그인</a>
            
          
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
    <div class ="userstag">admin님 환영합니다.</div>
  </nav>