<style>
  .userstag{

    width: 350px;
   
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="/">토론방</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="thread/thread_list">스레드 목록</a>
          <a class="nav-link" href="edit">참가 스레드</a>
          <link rel = "stylesheet" type="text/css" href= "../public/main.css">
            
          

        </div>
      </div>
    </div>
    <div class ="userstag">admin님 환영합니다.</div>
  </nav>