<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel = "stylesheet" type="text/css" href= "/public/css/thread_view.css">
    <link rel = "stylesheet" type="text/css" href= "/public/css/write.css">
    <style>

        h1{

            margin-left: 50px;
            margin-top: 50px;
        }
        input{
            margin-left: 50px;
            width: 500px;
        }
        button{

            margin-left: 50px;
        }

    </style>
  </head>
  <body>
    <%- include('nav.ejs') %>

    <div class= "article_area">
      <div class="thread_title"> <%=thread_list(thread_data)%> 스레드
      </div>


      <div class="write_head">글쓰기
      </div>
      <span class="input_text_help">제목</span>
      <input class="input_text_title" type = "text">
      <input class="input_text_context" type = "text">
      <div class ="float_right">
        <button class= "thread_write">작성</a>
      </div>


    
    </div>


    <script>
      
    $('.thread_write').click(function(e){

      $('.input_text_title').val();
      $('.input_text_context').val();
      

      if ($('.input_text_title').val()){
        
        if ($('.input_text_context').val()){

          $.ajax({
                    method : 'POST',
                    url : '/thread<%=thread_data%>/postWriteOK',
                    data : {titleData : $('.input_text_title').val(),
                            contextData : $('.input_text_context').val()}


          })

         
        }
        else { alert ('내용을 입력하세요');}


      }
      else { alert('제목을 입력하세요'); }
    })


    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    
  </body>
</html>