.content_view_box{
   
    width: 850px;
    min-height : 500px;
    height: auto;
    background-color: red;
}

.content_title_box{

  height : 50px;
  background-color: gray;
  padding-left: 15px;
  padding-top : 10px;
  font-size : 18px;
}

.content_info_box{
    
    padding-left: 15px;
    padding-top : 5px;
    height : 30px;
    background-color: blue;
}

.content_user_info {
    display:inline-block;
    width: 300px;
}

.content_comment{
    display:inline-block;
    width: 100px;
}
.content_viewer{
    display:inline-block;
    width: 100px;
}
.content_todate{
    display:inline-block;
    width: 100px;
}

.content_context_box{

    height: auto;
}

.content_voteRecommend{
    text-align : center;
    height : 50px;
    background-color:cornsilk;
}


.voteRecommend_position{

    width : 50px;
}

.content_mainFunction{

    
    display : block;
    text-align : right; /* 엘리먼트 우측 정렬 */
    
    height : 50px;
    background-color : gray;
    
}

.function_position{
   
    width: 50px;
    margin-right :30px;

}

.content_commentArea{

    height :  50px;
    background-color: darkorange;
}

.comment_box{

    border : 1px solid black;
}

.info-line{

    border : 0.5px solid gray;
    background-color: rgb(226, 226, 226);
}