.register_id_boxform{
    position: relative; 

    border : 1px solid black;
    width: 850px;;
    height: 750px;
    background-color: #ebebeb;

}

.register_id_inputbox{

width: 500px;
position: absolute;  /*부모 엘리먼트(register_id_boxform) 를 기준으로 좌 50% 탑 50%정렬, transform은 엘리먼트 크기만큼 빼서 이동.*/ 
left : 50%;
top : 50%;
transform:translate(-50%, -50%);
}
.register_title {
    line-height: 30px;
display:inline-block;
width: 100px;
float: left;
text-align:left;
}
.input_text_box{

    margin-bottom : 15px;
}

.box_context{

font-family: 고딕;
width :126px;
}

.mail_number_box{
    margin-left : 5px;
}

.register_ok{


}

.passbox{

 outline:none;   /* inputbox, 눌렀을때 강조되는 outline 제거*/

 
}


.modify_pass_check{

text-align: center;

}


.span_block{

    display : block;
    margin-bottom : 10px;
}

.modify_pass_input_form{

margin-right: 10px;
font-family : 고딕;
}

.password_re{

    margin-left : 30px;
}

.box_context_2row{

    margin-left: 60px;
}