body{


    background-color: rgb(246, 246, 246);
}

.article_area{

margin-left : 35px;
margin-top : 35px;
width: 850px;
height : 1300px;

}


.thread_title{
width: 850px;
height : 50px;
padding-left : 15px;
margin-bottom : 25px;

border : 0.5px solid gray;

}

.debate_area{
    padding : 30px;
width: 850px;
height: 250px;
border : solid 1px rgb(189, 186, 186);
/*background-color: blue;*/
background-color : white;

}


.thread_view_area{

    width: 850px;
    height: 1000px;
    /*background-color: blueviolet;*/
    border :solid 2px rgb(189, 186, 186);
    background-color : white;
}

.postNumber{

display:inline-block;
width: 100px;
text-align: center;
    

}
.postTitle{
   display:inline-block;
   width : 400px;
   text-align: left;
}

.postAuthor{
    display:inline-block;
    width : 100px;
    text-align: left;
}

.postTime{
    display:inline-block;
    width: 100px;
    text-align: center;
}

.postView{
    display:inline-block;
    width: 100px;
    text-align: center;
    
}

.postDelete_admin{

    color: red;
    border : 1px solid gray;
}

.postDelete_check{

    color: red;
    border : 1px solid gray;
}

.content_row{
    
  
}
.content_row_same{
    
  background-color: gray;
}


.float_right{

    float:right; /* .article_area의 맨 오른쪽 */
}


.float_left{

    float:left; /* .article_area의 맨 오른쪽 */
}

.thread_write {
    display:inline-block;
   
  
    
}



.debate_box{
    display: inline-block;
    text-align : center;
    width: 250px;
    height : 150px;
    border :solid 1px rgb(189, 186, 186);
    border-radius : 3%;
}

.debate_title{

    display:block;
}

.debate_date{
    margin-top : 100px;
    float : right;
}