.article_area{

margin-left : 35px;
margin-top : 35px;
width: 850px;
height : 1300px;
}


.thread_title{
width: 850px;
height : 50px;
padding-left : 15px;
margin-bottom : 25px;
background-color :red;

}

.debate_area{
width: 850px;
height: 250px;
background-color: blue;

}


.thread_view_area{

    width: 850px;
    height: 1000px;
    background-color: blueviolet;
}

.postNumber{

display:inline-block;
width: 100px;
text-align: center;
    

}
.postTitle{
   display:inline-block;
   width : 400px;
   text-align: left;
}

.postAuthor{
    display:inline-block;
    width : 100px;
    text-align: left;
}

.postTime{
    display:inline-block;
    width: 100px;
    text-align: center;
}

.postView{
    display:inline-block;
    width: 100px;
    text-align: center;
    
}

.content_row{
    
  
}
.content_row_same{
    
  background-color: gray;
}


.float_right{

    float:right; /* .article_area의 맨 오른쪽 */
}


.float_left{

    float:left; /* .article_area의 맨 오른쪽 */
}

.thread_write {
    display:inline-block;
   
  
    
}

